.searchBox {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  width: 410px;
}

.input:hover {
  border-color: #0056b3;
}
